---
import data from "@data/musicdev.json";
---

<style>
  .playlist-box {
    transition: opacity 0.5s ease-in-out;
    /* &.visible {
        opacity: 1;
    } */
    li {
      --delay: 0.25s;
      animation: fade-in 0.75s linear var(--delay);
      margin-bottom: 10px;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>

<script>
  import { playlist } from "store.js";

  let BASE_URL = document.body.getAttribute('data-base-url');
  //   import { updateList } from 'utils/all.js';
  function containerInit() {
    // Carga inicial

    const url = `${BASE_URL}/data/musicdev.json`;
    let dataInitial = fetch(url)
      .then((response) => response.json())
      .then((data) => {
        updateList(data);
      });
    // Carga dinámica
    playlist.subscribe(async (list) => {
      try {
        const response = await fetch(`${BASE_URL}/data/${list}.json`);
        const data = await response.json();
        updateList(data);
      } catch (error) {
        console.error(error);
      }
    });

    function updateList(data) {
      let playListBox = document.querySelector(".playlist-box");
      if (playListBox) {
        playListBox.innerHTML = data
          .map(
            (item, index) =>
              `<li
        style="--delay:${index * 0.075}s" 
        class="p-2 border border-solid border-1 border-gray-300 rounded-lg">${item.title}
        </li>`
          )
          .join("");

        // playListBox.classList.add("visible");
      }
    }
  }
  document.addEventListener("astro:after-swap", containerInit);
  containerInit();
</script>

<div class="playlist-box">
  {data.map((item) => <li>{item.title}</li>)}
</div>
